<p id="notice"><%= notice %></p>

<p>
  <strong>Pid:</strong>
  <%= @product_tag.pid %>
</p>

<p>
  <strong>Pcategory:</strong>
  <%= @product_tag.pcategory %>
</p>

<p>
  <strong>Pgroup:</strong>
  <%= @product_tag.pgroup %>
</p>

<p>
  <strong>Pcode:</strong>
  <%= @product_tag.pcode %>
</p>

<p>
  <strong>Pdescription:</strong>
  <%= @product_tag.pdescription %>
</p>

<p>
  <strong>Ptag:</strong>
  <%= @product_tag.ptag %>
</p>

<%= link_to 'Edit', edit_product_tag_path(@product_tag) %> |
<%= link_to 'Back', product_tags_path %>
